@use "../abstracts/" as *;

.main {
    display:flex;
    flex-direction: column;
    width: 1050px;
    margin: 8px auto;
    padding: 32px 32px 64px 32px;
    background: $color-canvas;
    align-items: center;
    min-height: 100vh;
    border-radius: $border-radius-l;
    box-shadow: $box-shadow-m;
    &__logo {
        display: flex;
        width: 400px;
    }
    &__title {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: center;
        i {
            margin-left: 16px;
            font-size: 1.5rem;
        }
    }
    &__container {
        display: flex;
        margin-top: 32px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 16px;
        @include media-max($breakpoint-m) {
            flex-direction: column;
        }
    }
    @include media-max($breakpoint-l) {
        width: 100%;
        border-radius: 0;
    }
}