@use "../abstracts/" as *;

.project {
    display: flex;
    width: 49%;
    justify-content: stretch;
    .element {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: $border-radius-m;
        box-shadow: $box-shadow-xl;
        width: 100%;
        background: $color-secondary;
        &__picture {
            display: flex;
            width: 100%;
            height: 120px;
            position: relative;
            @include gradient-empty;
            img {
                object-fit: cover;
                height: 120px;
                width: 100%;
                object-position: top;
                @include media-max($breakpoint-s) {
                    height: 64px;
                }
            }
            .technologies {
                opacity: 0.9;
                position: absolute;
                bottom: 0px;
                right: 0;
                margin-right: 8px;
                display: flex;
                background-color: $color-secondary;
                border-radius: $border-radius-s $border-radius-s 0 0;
                height: 38px;
                width: fit-content;
                justify-content: right;
                z-index: 10;
                img {
                    height: 100%;
                    padding: 4px;
                    margin: 0 2px;
                    @include media-max($breakpoint-s) {
                        width: 32px;
                    }
                }
                @include media-max($breakpoint-s) {
                    height: 32px;
                    flex-wrap: wrap;
                    margin-left: 8px;
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include gradient;
            }
            @include media-max($breakpoint-s) {
                height: 64px;
            }
        }
        
        &__txt {
            padding: 16px;
            display: flex;
            flex-direction: column;
        }
        .title {
            display: flex;
            margin-bottom: 10px;
            i {
                display: flex;
                align-items: center;
                color: $color-success;
                margin-left: 8px;
            }
        }
        .subtitle {
            display: flex;
        }
    }
    @include media-max($breakpoint-m) {
        width: 100%;
    }
}