$color-primary:#5865f2;
$color-secondary:#9d58f2;
$color-tertiary:#f258ce;

$color-canvas: #EBEBEB;
$color-canvas-inverted: #1C2121;

$color-text: #1C2121;
$color-text-inverted: #f2f2f2;

$color-selector:#2a6cd7;
$color-danger: #D93936;
$color-success: #3BA55C;