$color-primary:#7451EB;
$color-secondary:#F4F1FD;
$color-tertiary:#FFFFFF;

$color-canvas: #FAFAFA;
$color-canvas-inverted: #0A0A0A;

$color-text: #060606;
$color-text-inverted: #f2f2f2;

$color-selector:#2a6cd7;
$color-danger: #D93936;
$color-success: #2E7E32;