@use "../abstracts/" as *;

.header {
    display:flex;
    width: 90%;
    height: 128px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__logo {
        display: flex;
        width: 600px;
        @include media-max($breakpoint-m) {
            width: 100%;
        }
    }
    @include media-max($breakpoint-s) {
        height: 92px;
    }
}